# MACOS / local installation
*.DS_Store
__pycache__/
oimalib.egg-info/
.vscode/

# Coverage
oimalib/coverage.xml
oimalib/.coverage
coverage.xml
.coverage
.pytest_cache/
.ruff_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Development files
.vscode/

# System files
*.DS_Store
Simulated_NRMdata/.DS_Store

# Install files
*.txt
PKG*
dist/
